<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" href="/style/HomePage.css">
    <link rel="stylesheet" href="/fonts/fontawesome6.css">
    <link rel="stylesheet" href="/fonts/all.min.css">
    <link rel="shortcut icon" href="/img/logo-_1_.ico" type="image/x-icon">
</head>

<body>
<div id="container">
    <!-- the part except PlaySong-->
    <div class="main">
        <div th:replace="fragments/NavigateBar :: navbar" class="navigate-bar"></div>

        <div class="main-content">
            <!-- middle part-->
            <div class="mid">
                <div class="mid-top">
                    <!-- <img src="/img/taylor.jpeg" alt="singer"> -->
                    <img src="/img/taylor2.jpg" alt="singer">
                </div>

                <p class="mid-text">Popular Tracks</p>

                <div class="mid-bottom">
                    <div th:each="song, songStatus : ${songs}" class="song">
                        <div class="number" th:text="${songStatus.index + 1}"></div>
                        <div class="song-img">
                            <img class="img2" th:src="${song.image}" alt="singer">
                        </div>
                        <div class="song-infor">
                            <div class="song-name">
                                <p th:text="${song.song_title}"></p>
                            </div>
                            <div class="song-artist">
                                <p th:text="${song.singer.name}"></p>
                            </div>
                        </div>
                        <div class="song-time">
                            <img class="clock-img" src="/img/clock.png" alt="clock">
                            <p class="time" th:text="${song.time}"></p>
                        </div>
                        <div class="song-play">
                            <div class="song-play">
                                <i class="fa-light fa-circle-play" th:attr="data-song-id=${song.song_id}" onclick="changeSong(this.getAttribute('data-song-id'))"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- middle part-->
            <div class="right">
                <div class="right-top">
                    <p>What's hot this weekend?</p>
                </div>

                <div class="line"></div>

                <div class="right-bottom">
                    <div class="rbottom-contain">
                        <p>Trending Artists</p>
                        <div class="artist-list">
                            <div th:each="singer, singerStatus : ${singers}" class="artist">
                                <div class="artist-img">
                                    <img th:src="${singer.image}" alt="Artist's image">
                                </div>
                                <div class="artist-name">
                                    <p th:text="${singer.name}"></p>
                                </div>
                                <div class="artist-number" th:text="${singerStatus.index + 1}"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- the part of PlaySong-->
    <div th:replace="fragments/PlaySong :: play-song(song=${songs.get(0)})"></div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function changeSong(songId) {
            console.log("Change song function called with ID:", songId);

            // Make an AJAX request to retrieve the updated PlaySong section HTML based on the selected song ID
            $.ajax({
                url: "/playSong/" + songId,
                type: "GET",
                success: function(response) {
                    console.log("AJAX request successful. Response:", response);
                    $("#play-song").html(response); // Replace the HTML content inside the #play-song div with the updated HTML
                },
                error: function(xhr, status, error) {
                    console.log("AJAX request error:", error); // Log any errors that occur during the AJAX request
                }
            });
        }
    </script>

</div>
</body>

</html>