<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" href="/style/HomePage.css">
    <link rel="stylesheet" href="/fonts/fontawesome6.css">
    <link rel="stylesheet" href="/fonts/all.min.css">
    <link rel="shortcut icon" href="/img/logo-_1_.ico" type="image/x-icon">
</head>

<body>
<div id="container">
    <!-- the part except PlaySong-->
    <div class="main">
        <!-- navigate part-->
        <div class="navigate-bar">
            <img src="/img/logo.png" alt="">
            <div class="home-navi">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="32" viewBox="0 0 48 50" fill="none">
                    <path
                            d="M17 47.0906H12.3333C7.17867 47.0906 3 42.5323 3 36.9096V20.8939C3 17.3338 4.70476 14.0323 7.49584 12.1871L19.1625 4.47423C22.1359 2.50859 25.8641 2.50859 28.8375 4.47423L40.5041 12.1871C43.2953 14.0323 45 17.3338 45 20.8939V36.9096C45 42.5323 40.8212 47.0906 35.6667 47.0906H31M17 47.0906V36.9096C17 32.6924 20.1339 29.2739 24 29.2739C27.8661 29.2739 31 32.6924 31 36.9096V47.0906M17 47.0906H31"
                            stroke="#989A99" stroke-width="4.93" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </div>

            <div class="search-navi">
                <i class="fa-sharp fa-regular fa-magnifying-glass"></i>
            </div>

            <div class="playlist-navi">
                <i class="fa-sharp fa-solid fa-list-music"></i>
            </div>

            <div class="account">
                <img src="https://i.pinimg.com/736x/4a/4c/29/4a4c29807499a1a8085e9bde536a570a.jpg" alt="">
            </div>
            <div class="logout">
                <img src="/img/logout.png" alt="logut">
            </div>

        </div>

        <div class="main-content">
            <!-- middle part-->
            <div class="mid">
                <div class="mid-top">
                    <!-- <img src="/img/taylor.jpeg" alt="singer"> -->
                    <img src="/img/taylor2.jpg" alt="singer">
                </div>

                <p class="mid-text">Popular Tracks</p>

                <div class="mid-bottom">
                    <div class="song">
                        <div class="number">01</div>
                        <div class="song-img">
                            <img class="img2" src="/img/taylor2.jpg" alt="singer">
                        </div>
                        <div class="song-infor">
                            <div class="song-name">
                                <p>Fire (feat. YUQI ((G)I-DLE), JVKE)</p>
                            </div>
                            <div class="song-artist">
                                <p>Alan Walker, YUQI, JVKE, (G)I-DLE</p>
                            </div>
                        </div>
                        <div class="song-time">
                            <img class="clock-img" src="/img/clock.png" alt="clock">
                            <p class="time">2:03</p>
                        </div>
                        <div class="song-play">
                            <!-- <img src="/img/play-button.png" alt="play"> -->
                            <i class="fa-light fa-circle-play"></i>
                        </div>
                    </div>

                    <div class="song">
                        <div class="number">02</div>
                        <div class="song-img">
                            <img class="img2" src="/img/taylor2.jpg" alt="singer">
                        </div>
                        <div class="song-infor">
                            <div class="song-name">
                                <p>Fire (feat. YUQI ((G)I-DLE), JVKE)</p>
                            </div>
                            <div class="song-artist">
                                <p>Alan Walker, YUQI, JVKE, (G)I-DLE</p>
                            </div>
                        </div>
                        <div class="song-time">
                            <img class="clock-img" src="/img/clock.png" alt="clock">
                            <p class="time">2:03</p>
                        </div>
                        <div class="song-play">
                            <!-- <img src="/img/play-button.png" alt="play"> -->
                            <i class="fa-light fa-circle-play"></i>
                        </div>
                    </div>

                    <div class="song">
                        <div class="number">03</div>
                        <div class="song-img">
                            <img class="img2" src="/img/taylor2.jpg" alt="singer">
                        </div>
                        <div class="song-infor">
                            <div class="song-name">
                                <p>Fire (feat. YUQI ((G)I-DLE), JVKE)</p>
                            </div>
                            <div class="song-artist">
                                <p>Alan Walker, YUQI, JVKE, (G)I-DLE</p>
                            </div>
                        </div>
                        <div class="song-time">
                            <img class="clock-img" src="/img/clock.png" alt="clock">
                            <p class="time">2:03</p>
                        </div>
                        <div class="song-play">
                            <!-- <img src="/img/play-button.png" alt="play"> -->
                            <i class="fa-light fa-circle-play"></i>
                        </div>
                    </div>

                    <div class="song">
                        <div class="number">04</div>
                        <div class="song-img">
                            <img class="img2" src="/img/taylor2.jpg" alt="singer">
                        </div>
                        <div class="song-infor">
                            <div class="song-name">
                                <p>Fire (feat. YUQI ((G)I-DLE), JVKE)</p>
                            </div>
                            <div class="song-artist">
                                <p>Alan Walker, YUQI, JVKE, (G)I-DLE</p>
                            </div>
                        </div>
                        <div class="song-time">
                            <img class="clock-img" src="/img/clock.png" alt="clock">
                            <p class="time">2:03</p>
                        </div>
                        <div class="song-play">
                            <!-- <img src="/img/play-button.png" alt="play"> -->
                            <i class="fa-light fa-circle-play"></i>
                        </div>
                    </div>

                </div>
            </div>


            <!-- middle part-->
            <div class="right">
                <div class="right-top">
                    <p>What's hot this weekend?</p>
                </div>

                <div class="line"></div>

                <div class="right-bottom">
                    <div class="rbottom-contain">
                        <p>Trending Artists</p>
                        <div class="artist-list">
                            <div class="artist">
                                <div class="artist-img">
                                    <img src="https://cdn.tuoitre.vn/zoom/700_700/471584752817336320/2023/4/25/son-tung-1682429100141711717000-181-0-1080-1717-crop-16824291249331603053151.jpg"
                                         alt="Son Tung's image">
                                </div>
                                <div class="artist-name">
                                    <p>Son Tung Mtp</p>
                                </div>
                                <div class="artist-number">
                                    <p>01</p>
                                </div>

                            </div>
                            <div class="artist">
                                <div class="artist-img">
                                    <img src="https://cdn.tuoitre.vn/zoom/700_700/471584752817336320/2023/4/25/son-tung-1682429100141711717000-181-0-1080-1717-crop-16824291249331603053151.jpg"
                                         alt="Son Tung's image">
                                </div>
                                <div class="artist-name">
                                    <p>Son Tung Mtp</p>
                                </div>
                                <div class="artist-number">
                                    <p>01</p>
                                </div>

                            </div>
                            <div class="artist">
                                <div class="artist-img">
                                    <img src="https://cdn.tuoitre.vn/zoom/700_700/471584752817336320/2023/4/25/son-tung-1682429100141711717000-181-0-1080-1717-crop-16824291249331603053151.jpg"
                                         alt="Son Tung's image">
                                </div>
                                <div class="artist-name">
                                    <p>Son Tung Mtp</p>
                                </div>
                                <div class="artist-number">
                                    <p>02</p>
                                </div>

                            </div>
                            <div class="artist">
                                <div class="artist-img">
                                    <img src="https://cdn.tuoitre.vn/zoom/700_700/471584752817336320/2023/4/25/son-tung-1682429100141711717000-181-0-1080-1717-crop-16824291249331603053151.jpg"
                                         alt="Son Tung's image">
                                </div>
                                <div class="artist-name">
                                    <p>Son Tung Mtp</p>
                                </div>
                                <div class="artist-number">
                                    <p>03</p>
                                </div>

                            </div>
                            <div class="artist">
                                <div class="artist-img">
                                    <img src="https://cdn.tuoitre.vn/zoom/700_700/471584752817336320/2023/4/25/son-tung-1682429100141711717000-181-0-1080-1717-crop-16824291249331603053151.jpg"
                                         alt="Son Tung's image">
                                </div>
                                <div class="artist-name">
                                    <p>Son Tung Mtp</p>
                                </div>
                                <div class="artist-number">
                                    <p>04</p>
                                </div>

                            </div>
                        </div>


                    </div>


                </div>
            </div>
        </div>
    </div>


    <!-- the part of PlaySong-->
    <div class="play">
        <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/white-and-blue-rock-music-album-cover-design-template-669d6b733ca7b8e20734de8eea1e67ea_screen.jpg?ts=1561485914"
             alt="">

        <div class="play-title">
            <p class="name">Fireflies</p>
            <p class="artist">OwI City</p>
        </div>

        <div class="buttons">
            <img src="/img/next-button.png" alt="" class="left">
            <img src="/img/play.png" alt="" class="mid">
            <img src="/img/next-button.png" alt="" class="right">
        </div>

        <div class="play-bar">
            <p class="time-start">1:02</p>
            <div class="duration"></div>
            <p class="time">3:05</p>
        </div>

        <div class="items">
            <i class="fa-sharp fa-solid fa-list-ul"></i>
            <i class="fa-sharp fa-regular fa-circle-plus"></i>
        </div>

    </div>
</div>
</body>

</html>