<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BeatMix - Playlist</title>
    <link rel="stylesheet" href="/style/PLaylistPage.css">
    <link rel="stylesheet" href="/fonts/fontawesome6.css">
    <link rel="stylesheet" href="/fonts/all.min.css">
    <link rel="shortcut icon" href="/img/logo-_1_.ico" type="image/x-icon">
</head>

<body>
<div id="container">
    <!-- the part except PlaySong-->
    <div class="main">



        <div class="main-content">
            <div class="middle-part">
                <div class="mid-top">
                    <div class="playlist-img">
                        <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/white-and-blue-rock-music-album-cover-design-template-669d6b733ca7b8e20734de8eea1e67ea_screen.jpg?ts=1561485914" alt="">
                    </div>
                    <div class="playlist-infor">
                        <p class="playlist">Playlist</p>
                        <p class="playlist-name">US & UK Chill Songs</p>
                    </div>

                </div>
                <div class="mid-bottom">
                    <div class="header">
                        <p class="text fs">#</p>
                        <p class="text sc">Title</p>
                        <p class="text thr">Artist</p>
                        <img class="clock" src="/img/clock.png" alt="clock">
                        <p class="text fo">Delete</p>
                    </div>

                    <div class="list-song">
                        <div class="song">
                            <p class="number">01</p>
                            <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/white-and-blue-rock-music-album-cover-design-template-669d6b733ca7b8e20734de8eea1e67ea_screen.jpg?ts=1561485914" alt="">
                            <p class="title">Fire</p>
                            <p class="artist">BTS</p>
                            <p class="time">2:03</p>
                            <div class="delete">
                                <i class="fa-regular fa-trash-xmark"></i>
                            </div>

                        </div>
                        <div class="song">
                            <p class="number">01</p>
                            <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/white-and-blue-rock-music-album-cover-design-template-669d6b733ca7b8e20734de8eea1e67ea_screen.jpg?ts=1561485914" alt="">
                            <p class="title">Fire</p>
                            <p class="artist">BTS</p>
                            <p class="time">2:03</p>
                            <div class="delete">
                                <i class="fa-regular fa-trash-xmark"></i>
                            </div>

                        </div>
                        <div class="song">
                            <p class="number">01</p>
                            <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/white-and-blue-rock-music-album-cover-design-template-669d6b733ca7b8e20734de8eea1e67ea_screen.jpg?ts=1561485914" alt="">
                            <p class="title">Fire</p>
                            <p class="artist">BTS</p>
                            <p class="time">2:03</p>
                            <div class="delete">
                                <i class="fa-regular fa-trash-xmark"></i>
                            </div>
                        </div>
                        <div class="song">
                            <p class="number">01</p>
                            <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/white-and-blue-rock-music-album-cover-design-template-669d6b733ca7b8e20734de8eea1e67ea_screen.jpg?ts=1561485914" alt="">
                            <p class="title">Fire</p>
                            <p class="artist">BTS</p>
                            <p class="time">2:03</p>
                            <div class="delete">
                                <i class="fa-regular fa-trash-xmark"></i>
                            </div>
                        </div>
                        <div class="song">
                            <p class="number">01</p>
                            <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/white-and-blue-rock-music-album-cover-design-template-669d6b733ca7b8e20734de8eea1e67ea_screen.jpg?ts=1561485914" alt="">
                            <p class="title">Fire</p>
                            <p class="artist">BTS</p>
                            <p class="time">2:03</p>
                            <div class="delete">
                                <i class="fa-regular fa-trash-xmark"></i>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

            <div class="right-part">
                <div class="right-top">
                    <div class="content">
                        <div class="header-pls">
                            <p>Playlist</p>
                            <img src="/img/music-player.png" alt="" class="musicPls">
                        </div>
                        <div class="list">
                            <div class="pls-one">
                                <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/white-and-blue-rock-music-album-cover-design-template-669d6b733ca7b8e20734de8eea1e67ea_screen.jpg?ts=1561485914" alt="">
                                <p>My music</p>
                                <div class="delete">
                                    <i class="fa-regular fa-trash-xmark"></i>
                                </div>
                            </div>
                            <div class="pls-one">
                                <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/white-and-blue-rock-music-album-cover-design-template-669d6b733ca7b8e20734de8eea1e67ea_screen.jpg?ts=1561485914" alt="">
                                <p>My music</p>
                                <div class="delete">
                                    <i class="fa-regular fa-trash-xmark"></i>
                                </div>
                            </div>
                            <div class="pls-one">
                                <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/white-and-blue-rock-music-album-cover-design-template-669d6b733ca7b8e20734de8eea1e67ea_screen.jpg?ts=1561485914" alt="">
                                <p>My music</p>
                                <div class="delete">
                                    <i class="fa-regular fa-trash-xmark"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="add">
                        <i class="fa-regular fa-plus"></i>
                        <p>Add Playlist</p>
                    </div>
                </div>
                <div class="right-bottom">
                    <div class="song-img">
                        <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/white-and-blue-rock-music-album-cover-design-template-669d6b733ca7b8e20734de8eea1e67ea_screen.jpg?ts=1561485914" alt="">
                    </div>
                    <p class="name">Firefiles</p>
                    <p class="artist">Owl City</p>
                </div>
            </div>
        </div>
    </div>



</div>
</body>

</html>