<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BeatMix - Playlist</title>
    <link rel="stylesheet" href="/style/PLaylistPage.css">
    <link rel="stylesheet" href="/fonts/fontawesome6.css">
    <link rel="stylesheet" href="/fonts/all.min.css">
    <link rel="shortcut icon" href="/img/logo-_1_.ico" type="image/x-icon">
</head>

<body>
<div id="container">
    <!-- the part except PlaySong-->



        <div class="main-content">
            <div class="middle-part">
                <div class="mid-top">
                    <div class="playlist-img">
                        <img th:src="${playlist.image}"
                             alt="">
                    </div>
                    <div class="playlist-infor">
                        <p class="playlist">Playlist</p>
                        <p class="playlist-name" th:text="${playlist.name}"></p>
                    </div>

                </div>
                <div class="mid-bottom">
                    <div class="header">
                        <p class="text fs">#</p>
                        <p class="text sc">Title</p>
                        <p class="text thr">Artist</p>
                        <img class="clock" src="/img/clock.png" alt="clock">
                        <p class="text fo">Delete</p>
                    </div>

                    <div class="list-song">
                        <!-- Use a loop to render each song dynamically -->
                        <div th:each="song, songInfo : ${songs}" class="song" style = "cursor: pointer; " th:attr="data-song-id=${song.song_id}"
                             onclick = "changeSong(this.getAttribute('data-song-id'))">
                            <p class="number" th:text="${songInfo.index + 1}"></p>
                            <img th:src="${song.image}" alt="">
                            <p class="title" th:text="${song.song_title}"></p>

                            <div class="artist">
                                <p  th:text="${song.singer.name}"></p>
                            </div>


                            <p class="time" th:text="${song.time}"></p>
                            <div class="delete">
                                <i class="fa-regular fa-trash-xmark" th:id="'delete-' + ${songInfo.index}"
                                   th:attr="data-song-id=${song.song_id}" onclick="deleteSong(this.getAttribute('data-song-id'))"></i>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

            <div class="right-part">
                <div class="right-top">
                    <div class="content">
                        <div class="header-pls">
                            <p>Playlist</p>
                            <img src="/img/music-player.png" alt="" class="musicPls">
                        </div>


                        <div class="list">
                            <!-- Iterate over the playlists -->
                            <th:block th:each="playlist : ${playlists}">
                                <div class="pls-one" th:attr="data-playlist-id=${playlist.id}" onclick="updatePlaylistPage(this.getAttribute('data-playlist-id'))" style = "cursor: pointer; ">
                                    <img th:src="${playlist.image}"
                                         alt="">
                                    <p th:text="${playlist.name}"></p>
                                    <div class="delete">
                                        <i class="fa-regular fa-trash-xmark" th:id="'delete-' + ${playlist.id}"
                                           th:attr="data-playlist-id=${playlist.id}" onclick="deletePlaylist(this.getAttribute('data-playlist-id'))"></i>
                                    </div>
                                </div>
                            </th:block>
                        </div>



                    </div>
                    <div class="add">
                        <div >
                            <i class="fa-regular fa-plus" id="addPlaylist" onclick="usePopup()"></i>
                        </div>
                        <p>Add Playlist</p>
                    </div>
                </div>
                <div class="right-bottom">
                    <div class="song-img">
                        <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/white-and-blue-rock-music-album-cover-design-template-669d6b733ca7b8e20734de8eea1e67ea_screen.jpg?ts=1561485914"
                             alt="">
                    </div>
                    <p class="name">Firefiles</p>
                    <p class="artist">Owl City</p>
                </div>
            </div>


            <!-- PopUp-->
            <div class="popup-container" style = "display : none;" id = "popup-container">
                <div class="popup" id = "popup">
                    <i class="fa-duotone fa-circle-xmark" id="closeButton" onclick="hidePopup()"
                       style="--fa-primary-color: #33c1c7; --fa-primary-opacity: 0.8; --fa-secondary-color: #e75558; --fa-secondary-opacity: 1;"></i>
                    <div class="box">
                        <input type="text" id="nameInput" placeholder="My Playlist">
                        <input type="text" id="imageInput" placeholder="Image's Link">
                        <button id="submitButton" onclick="savePlaylist()">Save</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <script src="/utility/Playlist.js"></script>
</div>

</body>

</html>