<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BeatMix - Playlist</title>
    <link rel="stylesheet" href="/style/PLaylistPage.css">
    <link rel="stylesheet" href="/fonts/fontawesome6.css">
    <link rel="stylesheet" href="/fonts/all.min.css">
    <link rel="shortcut icon" href="/img/logo-_1_.ico" type="image/x-icon">
</head>

<body>
<div id="container">
    <!-- the part except PlaySong-->
    <div class="main">
        <!-- navigate part-->
        <div class="navigate-bar">
            <img src="/img/logo.png" alt="">
            <div class="home-navi">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="32" viewBox="0 0 48 50" fill="none">
                    <path
                            d="M17 47.0906H12.3333C7.17867 47.0906 3 42.5323 3 36.9096V20.8939C3 17.3338 4.70476 14.0323 7.49584 12.1871L19.1625 4.47423C22.1359 2.50859 25.8641 2.50859 28.8375 4.47423L40.5041 12.1871C43.2953 14.0323 45 17.3338 45 20.8939V36.9096C45 42.5323 40.8212 47.0906 35.6667 47.0906H31M17 47.0906V36.9096C17 32.6924 20.1339 29.2739 24 29.2739C27.8661 29.2739 31 32.6924 31 36.9096V47.0906M17 47.0906H31"
                            stroke="#989A99" stroke-width="4.93" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </div>

            <div class="search-navi">
                <i class="fa-sharp fa-regular fa-magnifying-glass"></i>
            </div>

            <div class="playlist-navi">
                <i class="fa-sharp fa-solid fa-list-music"></i>
            </div>

            <div class="account">
                <img src="https://i.pinimg.com/736x/4a/4c/29/4a4c29807499a1a8085e9bde536a570a.jpg" alt="">
            </div>
            <div class="logout">
                <img src="/img/logout.png" alt="logut">
            </div>

        </div>

        <div class="main-content">
            <div class="middle-part">
                <div class="mid-top">
                    <div class="playlist-img">
                        <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/white-and-blue-rock-music-album-cover-design-template-669d6b733ca7b8e20734de8eea1e67ea_screen.jpg?ts=1561485914" alt="">
                    </div>
                    <div class="playlist-infor">
                        <p class="playlist">Playlist</p>
                        <p class="playlist-name">US & UK Chill Songs</p>
                    </div>

                </div>
                <div class="mid-bottom">
                    <div class="header">
                        <p class="text fs">#</p>
                        <p class="text sc">Title</p>
                        <p class="text thr">Artist</p>
                        <img class="clock" src="/img/clock.png" alt="clock">
                        <p class="text fo">Delete</p>
                    </div>

                    <div class="list-song">
                        <div class="song">
                            <p class="number">01</p>
                            <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/white-and-blue-rock-music-album-cover-design-template-669d6b733ca7b8e20734de8eea1e67ea_screen.jpg?ts=1561485914" alt="">
                            <p class="title">Fire</p>
                            <p class="artist">BTS</p>
                            <p class="time">2:03</p>
                            <div class="delete">
                                <i class="fa-regular fa-trash-xmark"></i>
                            </div>

                        </div>
                        <div class="song">
                            <p class="number">01</p>
                            <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/white-and-blue-rock-music-album-cover-design-template-669d6b733ca7b8e20734de8eea1e67ea_screen.jpg?ts=1561485914" alt="">
                            <p class="title">Fire</p>
                            <p class="artist">BTS</p>
                            <p class="time">2:03</p>
                            <div class="delete">
                                <i class="fa-regular fa-trash-xmark"></i>
                            </div>

                        </div>
                        <div class="song">
                            <p class="number">01</p>
                            <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/white-and-blue-rock-music-album-cover-design-template-669d6b733ca7b8e20734de8eea1e67ea_screen.jpg?ts=1561485914" alt="">
                            <p class="title">Fire</p>
                            <p class="artist">BTS</p>
                            <p class="time">2:03</p>
                            <div class="delete">
                                <i class="fa-regular fa-trash-xmark"></i>
                            </div>
                        </div>
                        <div class="song">
                            <p class="number">01</p>
                            <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/white-and-blue-rock-music-album-cover-design-template-669d6b733ca7b8e20734de8eea1e67ea_screen.jpg?ts=1561485914" alt="">
                            <p class="title">Fire</p>
                            <p class="artist">BTS</p>
                            <p class="time">2:03</p>
                            <div class="delete">
                                <i class="fa-regular fa-trash-xmark"></i>
                            </div>
                        </div>
                        <div class="song">
                            <p class="number">01</p>
                            <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/white-and-blue-rock-music-album-cover-design-template-669d6b733ca7b8e20734de8eea1e67ea_screen.jpg?ts=1561485914" alt="">
                            <p class="title">Fire</p>
                            <p class="artist">BTS</p>
                            <p class="time">2:03</p>
                            <div class="delete">
                                <i class="fa-regular fa-trash-xmark"></i>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

            <div class="right-part">
                <div class="right-top">
                    <div class="content">
                        <div class="header-pls">
                            <p>Playlist</p>
                            <img src="/img/music-player.png" alt="" class="musicPls">
                        </div>
                        <div class="list">
                            <div class="pls-one">
                                <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/white-and-blue-rock-music-album-cover-design-template-669d6b733ca7b8e20734de8eea1e67ea_screen.jpg?ts=1561485914" alt="">
                                <p>My music</p>
                                <div class="delete">
                                    <i class="fa-regular fa-trash-xmark"></i>
                                </div>
                            </div>
                            <div class="pls-one">
                                <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/white-and-blue-rock-music-album-cover-design-template-669d6b733ca7b8e20734de8eea1e67ea_screen.jpg?ts=1561485914" alt="">
                                <p>My music</p>
                                <div class="delete">
                                    <i class="fa-regular fa-trash-xmark"></i>
                                </div>
                            </div>
                            <div class="pls-one">
                                <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/white-and-blue-rock-music-album-cover-design-template-669d6b733ca7b8e20734de8eea1e67ea_screen.jpg?ts=1561485914" alt="">
                                <p>My music</p>
                                <div class="delete">
                                    <i class="fa-regular fa-trash-xmark"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="add">
                        <i class="fa-regular fa-plus"></i>
                        <p>Add Playlist</p>
                    </div>
                </div>
                <div class="right-bottom">
                    <div class="song-img">
                        <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/white-and-blue-rock-music-album-cover-design-template-669d6b733ca7b8e20734de8eea1e67ea_screen.jpg?ts=1561485914" alt="">
                    </div>
                    <p class="name">Firefiles</p>
                    <p class="artist">Owl City</p>
                </div>
            </div>
        </div>
    </div>


    <!-- the part of PlaySong-->
    <div class="play">
        <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/white-and-blue-rock-music-album-cover-design-template-669d6b733ca7b8e20734de8eea1e67ea_screen.jpg?ts=1561485914"
             alt="">

        <div class="play-title">
            <p class="name">Fireflies</p>
            <p class="artist">OwI City</p>
        </div>

        <div class="buttons">
            <img src="/img/next-button.png" alt="" class="left">
            <img src="/img/play.png" alt="" class="mid">
            <img src="/img/next-button.png" alt="" class="right">
        </div>

        <div class="play-bar">
            <p class="time-start">1:02</p>
            <div class="duration"></div>
            <p class="time">3:05</p>
        </div>

        <div class="items">
            <i class="fa-sharp fa-solid fa-list-ul"></i>
            <i class="fa-sharp fa-regular fa-circle-plus"></i>
        </div>

    </div>
</div>
</body>

</html>