<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BeatMix - Search</title>
    <link rel="stylesheet" href="/style/SearchPage.css">
    <link rel="stylesheet" href="/fonts/fontawesome6.css">
    <link rel="stylesheet" href="/fonts/all.min.css">
    <link rel="shortcut icon" href="/img/logo-_1_.ico" type="image/x-icon">
    <script src="/utility/SearchPage.js" defer></script>
</head>

<body>
<div id="container">
    <!-- the part except PlaySong-->
    <div class="main">


        <!-- Main part -->
        <div class="main-container">
            <div class="input-container">
                <img src="/img/search.png" class="search-icon">
                <input class="input-field" autocomplete="off" id="searchInput" th:value="${song_name}"
                       placeholder="Search for song..." type="text" >
            </div>
            <div class="result-container">
                <p class="result-header">Songs</p>
                <div class="result-set" id="result-set">
                    <a th:href="'/song_detail/' + ${song.song_id}" th:each="song : ${songs}"
                       style="text-decoration: none; cursor: pointer">
                        <div class="song-result">
                            <div style="display: flex;">
                                <img class="song-img" th:src="${song.image}" alt="song">
                                <div class="title-and-artist-container">

                                    <p class="song-name" th:text="${song.song_title}"></p>

                                    <p class="song-artist" th:text="${song.singer.name}"></p>
                                </div>
                            </div>
                            <div class="time-container">
                                <img class="time-icon" src="/img/clock.png">
                                <p class="time-of-song" th:text="${song.time}"></p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div>
                <p class="artist-header">Popular artist</p>
                <div class="popular-artist-container">
                    <div class="artist-information" th:each="singer : ${popularSingers}">
                        <img class="artist-img" th:src="${singer.image}" alt="singer">
                        <div class="artist-name-and-role">
                            <p class="artist-name" th:text="${singer.name}"></p>
                            <p class="artist-role">Artist</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>


</div>
<script>
        let input = document.getElementById("searchInput");
    input.addEventListener("input", function() {
        console.log("input changed");
    });
</script>
</body>


</html>




