<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BeatMix - Search</title>
    <link rel="stylesheet" href="/style/SearchPage.css">
    <link rel="stylesheet" href="/fonts/fontawesome6.css">
    <link rel="stylesheet" href="/fonts/all.min.css">
    <link rel="shortcut icon" href="/img/logo-_1_.ico" type="image/x-icon">
    <script src="script.js" defer></script>
</head>

<body>
<div id="container">
    <!-- the part except PlaySong-->
    <div class="main">
        <!-- navigate part-->
        <div class="navigate-bar">
            <img src="/img/logo.png" alt="">
            <div class="home-navi">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="32" viewBox="0 0 48 50" fill="none">
                    <path
                            d="M17 47.0906H12.3333C7.17867 47.0906 3 42.5323 3 36.9096V20.8939C3 17.3338 4.70476 14.0323 7.49584 12.1871L19.1625 4.47423C22.1359 2.50859 25.8641 2.50859 28.8375 4.47423L40.5041 12.1871C43.2953 14.0323 45 17.3338 45 20.8939V36.9096C45 42.5323 40.8212 47.0906 35.6667 47.0906H31M17 47.0906V36.9096C17 32.6924 20.1339 29.2739 24 29.2739C27.8661 29.2739 31 32.6924 31 36.9096V47.0906M17 47.0906H31"
                            stroke="#989A99" stroke-width="4.93" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </div>


            <div class="search-navi">
                <i class="fa-sharp fa-regular fa-magnifying-glass"></i>
            </div>


            <div class="playlist-navi">
                <i class="fa-sharp fa-solid fa-list-music"></i>
            </div>


            <div class="account">
                <img src="https://i.pinimg.com/736x/4a/4c/29/4a4c29807499a1a8085e9bde536a570a.jpg" alt="">
            </div>
            <div class="logout">
                <img src="/img/logout.png" alt="logut">
            </div>


        </div>


        <!-- Main part -->
        <div class="main-container">
            <div class="input-container">
                <img src="/img/search.png" class="search-icon">
                <input class="input-field" autocomplete="off" id="searchInput" th:value="${song_name}" placeholder="Search for song..." type="search">
            </div>
            <div class="result-container">
                <p class="result-header">Songs</p>
                <div class="result-set">
                    <a  th:href="'/song_detail/' + ${song.song_id}" th:each="song : ${songs}" style="text-decoration: none">
                    <div class="song-result" >
                        <div style="display: flex;">
                            <img class="song-img" th:src="${song.image}" alt="song">
                            <div class="title-and-artist-container">

                                <p class="song-name" th:text="${song.song_title}"></p>

                                <p class="song-artist" th:text="${song.singer.name}"></p>
                            </div>
                        </div>
                        <div class="time-container">
                            <img class="time-icon" src="/img/clock.png">
                            <p class="time-of-song" th:text="${song.time}"></p>
                        </div>
                    </div>
                    </a>
                </div>
            </div>
            <div>
                <p class="artist-header">Popular artist</p>
                <div class="popular-artist-container">
                    <div class="artist-information" th:each="singer : ${popularSingers}">
                        <img class="artist-img" th:src="${singer.image}" alt="singer">
                        <div class="artist-name-and-role">
                            <p class="artist-name" th:text="${singer.name}"></p>
                            <p class="artist-role">Artist</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>




    <!-- the part of PlaySong-->
    <div class="play">
        <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/white-and-blue-rock-music-album-cover-design-template-669d6b733ca7b8e20734de8eea1e67ea_screen.jpg?ts=1561485914"
             alt="">


        <div class="play-title">
            <p class="name">Fireflies</p>
            <p class="artist">OwI City</p>
        </div>


        <div class="buttons">
            <img src="/img/next-button.png" alt="" class="left">
            <img src="/img/play.png" alt="" class="mid">
            <img src="/img/next-button.png" alt="" class="right">
        </div>


        <div class="play-bar">
            <p class="time-start">1:02</p>
            <div class="duration"></div>
            <p class="time">3:05</p>
        </div>


        <div class="items">
            <i class="fa-sharp fa-solid fa-list-ul"></i>
            <i class="fa-sharp fa-regular fa-circle-plus"></i>
        </div>


    </div>
</div>

<script>
    window.onload = function() {
        let input = document.getElementById("searchInput");
        let value = input.value;
        input.focus();
        input.value = '';
        input.value = value;

        input.addEventListener("input", function(){
            let song_name = this.value;
            const newUrl = "/search?song_name=" + encodeURIComponent(song_name);
            window.location.href = newUrl;
        })
    }
    </script>

</body>


</html>




