<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" href="/style/SignUp.css">
</head>
<body>
<div class="container">
    <div class="radio-container">
        <img src="/img/radio.png" class="radio-img">
        <div class="eclipse"></div>
    </div>
    <form class="form-container">
        <p class="form-header">Create Your Account</p>
        <div class="input-container">
            <img src="/img/user.png" class="icon">
            <input placeholder="Enter your name" type="text" name="nameInput" class="user-input">
        </div>
        <div class="input-container">
            <img src="/img/email.png" class="icon">
            <input placeholder="Enter your email" type="text" name="nameInput" class="user-input">
        </div>
        <div class="input-container">
            <img src="/img/key.png" class="icon">
            <input placeholder="Enter password" type="text" name="nameInput" class="user-input">
        </div>
        <button class="submit-button">Sign Up</button>
        <p class="option-content">Already have an account? <a href="/signin" class="login-signup-option">Sign in</a> here.</p>
    </form>
</div>
</body>
</html>