<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link rel="stylesheet" type="text/css" href="/style/SignIn.css">
    <link rel="stylesheet" href="/fonts/fontawesome6.css">
    <link rel="stylesheet" href="/fonts/all.min.css">
    <link rel="shortcut icon" href="/img/logo-_1_.ico" type="image/x-icon">
</head>
<body>
<div class="container">
    <div class="radio-container">
        <img src="/img/radio.png" class="radio-img">
        <div class="eclipse"></div>
    </div>
<!--    <form class="form-container" method="post" th:action="@{/j_spring_security_check}">-->
<!--        <p class="form-header">Sign In</p>-->
<!--        <div class="input-container">-->
<!--            <img src="/img/user.png" class="icon">-->
<!--            <input placeholder="Enter your name" type="text" name="username" class="user-input">-->
<!--        </div>-->
<!--        <div class="input-container">-->
<!--            <img src="/img/key.png" class="icon">-->
<!--            <input placeholder="Enter password" type="password" name="password" class="user-input">-->
<!--        </div>-->
<!--        <button class="submit-button" type="submit">Sign In</button>-->
<!--        <p class="option-content">Do not have any account? <a href="/signup" class="login-signup-option">Sign up</a> here.</p>-->
<!--    </form>-->
    <form class="form-container" >
        <p class="form-header">Sign In</p>
        <div class="input-container">
            <img src="/img/user.png" class="icon">
            <input placeholder="Enter your name" type="text" name="username" class="user-input">
        </div>
        <div class="input-container">
            <img src="/img/key.png" class="icon">
            <input placeholder="Enter password" type="password" name="password" class="user-input">
        </div>
        <button class="submit-button" type="submit">Sign In</button>
        <p class="option-content">Do not have any account? <a href="/signup" class="login-signup-option">Sign up</a> here.</p>
    </form>
</div>
</body>
</html>