<!-- template.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
<div th:fragment="play-song" class="play">
    <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/white-and-blue-rock-music-album-cover-design-template-669d6b733ca7b8e20734de8eea1e67ea_screen.jpg?ts=1561485914"
         alt="">

    <div class="play-title">
        <p class="name">Fireflies</p>
        <p class="artist">OwI City</p>
    </div>

    <div class="buttons">
        <img src="/img/next-button.png" alt="" class="left">
        <img src="/img/play.png" alt="" class="mid">
        <img src="/img/next-button.png" alt="" class="right">
    </div>

    <div class="play-bar">
        <p class="time-start">1:02</p>
        <div class="duration"></div>
        <p class="time">3:05</p>
    </div>

    <div class="items">
        <i class="fa-sharp fa-solid fa-list-ul"></i>
        <i class="fa-sharp fa-regular fa-circle-plus"></i>
    </div>

</div>

</body>
</html>