<!-- template.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
<div th:fragment="play-song(song)" class="play">
    <img th:src="${song.image}" alt="">

    <div class="play-title">
        <p class="name" th:text="${song.song_title}"></p>
        <p class="artist" th:text="${song.singer.name}"></p>
    </div>

    <div class="buttons">
        <img src="/img/next-button.png" alt="" class="left">
        <img src="/img/play.png" alt="" class="mid">
        <img src="/img/next-button.png" alt="" class="right">
    </div>

    <div class="play-bar">
        <p class="time-start">0:00</p>
        <div class="duration"></div>
        <p class="time" th:text="${song.time}"></p>
    </div>

    <div class="items">
        <i class="fa-sharp fa-solid fa-list-ul"></i>
        <i class="fa-sharp fa-regular fa-circle-plus"></i>
    </div>

</div>

</body>
</html>